/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* =======
    Reset or utilities
   =======
*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 64px;
  color: #fff;
  margin-bottom: 27px;
}

.anchor-btn {
  text-decoration: none;
  display: inline-block;
  background-color: #e02c6d;
  padding: 10px 24px;
  border-radius: 5px;
  color: #fff;
}
/* ====================
      Header section
   ==================== */
.container {
  background-color: #2d25a0;
  margin-bottom: 70px;
}
.half-width {
  width: 35%;
  float: left;
  margin-left: 156px;
  margin-top: 207px;
  margin-bottom: 240px;
}
.half-width img {
  width: 100%;
  height: 438px;
  overflow: hidden;
}
.head-text:hover {
  transform: rotate(360deg);
  transition: transform 2s ease;
}
.img-banner:hover {
  transform: scale(1.5);
  transition: transform 2s ease-in-out;
}
/* ==================
        Grid Area 
   ================== */

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}
.box {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
}
.box .box-banner img {
  width: 300px;
  height: 256px;
}
.box .box-info {
  width: 300px;
  height: 154px;
}
.box .box-info h3 {
  font-size: 28px;
}
.box .box-info p {
  font-size: 16px;
  color: #6c6c6c;
}
.blogs {
  margin-bottom: 158px;
}
.blog {
  display: flex;
}
.blog img {
  width: 567px;
  height: 427px;
  margin-top: 165px;
}
.blog-info {
  margin-left: 16px;
  width: 469px;
  height: 309px;
  margin-top: 224px;
  margin-right: 66px;
}
.blog-title {
  font-size: 48px;
}
.blog-text {
  width: 404px;
  height: 113px;
  margin-top: 8px;
  color: #6c6c6c;
}
.anchor {
  width: 172px;
  height: 44px;
  text-decoration: none;
  text-align: center;
  background-color: #e02c6d;
  padding: 10px 24px;
  border-radius: 5px;
  color: #fff;
  margin-top: 24px;
}
.thumbnail {
  overflow: hidden;
  width: 567px;
}
.thumbnail figure div {
  float: left;
  width: 20%;
}
.thumbnail figure img {
  width: 567px;
  float: left;
}
.thumbnail figure {
  position: relative;
  width: 500%;
  animation: slide 10s infinite;
}
/* =================
      Animation
   ================= */
@keyframes slide {
  0% {
    left: 0%;
  }
  10% {
    left: 0%;
  }
  12% {
    left: -100%;
  }
  22% {
    left: -100%;
  }
  24% {
    left: -200%;
  }
  34% {
    left: -200%;
  }
  36% {
    left: -300%;
  }
  46% {
    left: -300;
  }
  48% {
    left: -400%;
  }
  58% {
    left: -400;
  }
  60% {
    left: -300%;
  }
  72% {
    left: -200%;
  }
  82% {
    left: -200%;
  }
  84% {
    left: -100%;
  }
  94% {
    left: -100%;
  }
  96% {
    left: 0%;
  }
}
/* ====================================
          Footer Social Media icons
   ====================================  */
.footer {
  width: 483.87px;
  height: 213px;
}
.footer img {
  width: 483.87px;
  height: 110px;
}
.footer .social {
  width: 170px;
  height: 32px;
  font-size: 20px;
  margin-left: 156.94px;
  margin-top: 20px;
}
.footer p {
  font-size: 18px;
  margin-left: 123.94px;
  margin-top: 30px;
}
.fab {
  margin: 0 14px;
  width: 32px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  margin-bottom: 6px;
}
.fab:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: #fff;
}
.fa-twitter {
  background: #55acee;
  color: #fff;
}
.fa-instagram {
  background: #125688;
  color: #fff;
}
.fa-youtube {
  background: #bb0000;
  color: #fff;
}
/* ====================
        Media Quary (mobile device)
   ==================== */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
    border: 1px solid;
  }
  .container,
  .boxes,
  .blog {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog,
  .container {
    flex-direction: column;
  }
}
/* ====================================
        Media Quary (Tablet device)
   ==================================== */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
    border: 1px solid;
  }
  .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog {
    flex-direction: column;
  }
  .blog {
    grid-template-columns: repeat(1, 1fr);
  }
}
